nav li{
    font-size: 24px;
    list-style: none;
    display: inline;
    margin-right: 25px;
}
nav li:hover{
    background-color: gray;
}
 nav li a{
    text-decoration: none;
 }

 footer, h1{
    text-align: center;
 }